resume_processor/scripts/data/**
notebooks/__pycache__/**
.DS_Store
resume_processor/notebooks/parsed_data.json
Pipfile
resume_processor/notebooks/parsed_resumes.json
Pipfile.lock
resume_processor/notebooks/cleaned_resumes.json
resume_processor/notebooks/cleaning_report.json
resume_processor/data
**/__pycache__/**
**/db.sqlite3